#NDHeader{
	background:#333333;
}

#NDSummary{
	border-left: 1px solid black;
	border-right: 1px solid black;
	
}

.CBody{
	background: #f8f8f8;
	border:1px solid #ccc;

}

.CTitle {
	font-size:.6em;
	color: #333;
}